.container
  max-width: $grid-maxWidth
  margin: 0 auto
  width: 96%
  padding: 0 calc(#{$grid-gutter} / 2)

.row
  display: flex
  flex-flow: row wrap
  justify-content: flex-start
  margin-left: calc(#{$grid-gutter} / -2)
  margin-right: calc(#{$grid-gutter} / -2)

.col
  flex: 1
  margin: 0 calc(#{$grid-gutter} / 2) calc(#{$grid-gutter} / 2)

[class*=" col-"], [class^='col-']
  margin: 0 calc(#{$grid-gutter} / 2) calc(#{$grid-gutter} / 2)

.col-1
  flex: 0 0 calc((100% / (12/1)) - #{$grid-gutter})
  max-width: calc((100% / (12/1)) - #{$grid-gutter})

.col-2
  flex: 0 0 calc((100% / (12/2)) - #{$grid-gutter})
  max-width: calc((100% / (12/2)) - #{$grid-gutter})

.col-3
  flex: 0 0 calc((100% / (12/3)) - #{$grid-gutter})
  max-width: calc((100% / (12/3)) - #{$grid-gutter})

.col-4
  flex: 0 0 calc((100% / (12/4)) - #{$grid-gutter})
  max-width: calc((100% / (12/4)) - #{$grid-gutter})

.col-5
  flex: 0 0 calc((100% / (12/5)) - #{$grid-gutter})
  max-width: calc((100% / (12/5)) - #{$grid-gutter})

.col-6
  flex: 0 0 calc((100% / (12/6)) - #{$grid-gutter})
  max-width: calc((100% / (12/6)) - #{$grid-gutter})

.col-7
  flex: 0 0 calc((100% / (12/7)) - #{$grid-gutter})
  max-width: calc((100% / (12/7)) - #{$grid-gutter})

.col-8
  flex: 0 0 calc((100% / (12/8)) - #{$grid-gutter})
  max-width: calc((100% / (12/8)) - #{$grid-gutter})

.col-9
  flex: 0 0 calc((100% / (12/9)) - #{$grid-gutter})
  max-width: calc((100% / (12/9)) - #{$grid-gutter})

.col-10
  flex: 0 0 calc((100% / (12/10)) - #{$grid-gutter})
  max-width: calc((100% / (12/10)) - #{$grid-gutter})

.col-11
  flex: 0 0 calc((100% / (12/11)) - #{$grid-gutter})
  max-width: calc((100% / (12/11)) - #{$grid-gutter})

.col-12
  flex: 0 0 calc((100% / (12/12)) - #{$grid-gutter})
  max-width: calc((100% / (12/12)) - #{$grid-gutter})

@media screen and (max-width: 768px)
  .container
    width: 100%
  .col, [class*=" col-"], [class^='col-']
    flex: 0 1 100%
    max-width: 100%