.tabs
  display: flex
  a
    text-decoration: none
  > a
    padding: 1rem 2rem
    flex: 0 1 auto
    color: #555
    border-bottom: 2px solid $lightGrey-color
    text-align: center
    &.active, &:hover
      opacity: 1
      border-bottom: 2px solid #555
    &.active
      border-color: $primary-color
  &.is-full a
    flex: 1