.tag
  display: inline-block
  border: 1px solid $lightGrey-color
  text-transform: uppercase
  color: $darkGrey-color
  padding: 0.5rem
  line-height: 1
  letter-spacing: 0.5px
  &.is-small
    padding: 0.4rem
    font-size: 0.75em
  &.is-large
    padding: 0.7rem
    font-size: 1.125em
  + .tag
    margin-left: 1rem